﻿@Html.Partial("~/Views/Partial/SideNav.cshtml")
<div class="container-fluid">
    <div class="content push-side-nav">
        <div class="header bg-lgrey border-gry-b pull">
            <div class="row">
                <div class="col size1of3">
                    <div class="btn-group pushR">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                            Location <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Artamon</a></li>
                            <li><a href="#">Blacktown</a></li>
                            <li><a href="#">Beverly Hills</a></li>
                            <li><a href="#">Blacktown</a></li>
                            <li><a href="#">Bondi Junction</a></li>
                            <li><a href="#">Brookvale</a></li>
                            <li><a href="#">Cabramatta</a></li>
                            <li><a href="#">Chatswood</a></li>
                            <li><a href="#">Epping</a></li>
                            <li><a href="#">Hornsby</a></li>
                            <li><a href="#">Sydney (Haymarket)</a></li>
                            <li><a href="#">Sydney (Wynyard)</a></li>
                        </ul>
                    </div>
                    <div class="inblock txtT pushR">
                        <h3>Mr Smith Black</h3>
                    </div>
                </div>
                <div class="col size2of3">
                    <div class="col wide35">
                        <div class="loud">DOB: 19/08/1980 (31)</div>
                        <div class="loud">Fund: Medibank Private</div>
                    </div>
                    <div class="col wide65">
                        <div class="loud">
                            Allergies:
                            <span class="label label-danger">Nut</span>
                            <span class="label label-danger">Nut</span>
                            <span class="label label-danger">Nut</span>
                        </div>
                        <div class="loud">
                            Med Cond:
                            <span class="label label-danger">Diabetes</span>
                            <span class="label label-danger">Diabetes</span>
                            <span class="label label-danger">Diabetes</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tbl-grp">
            <div class="tbl-bdy inner">
                <div class="full-panel">
                    <div class="full-panel-bd">
                        <div class="row pullL">
                            <div class="pull-left"><h1>Treatments <small>20/30</small></h1></div>
                            <div class="pull-right hide">From: 10/10/2014 &nbsp; To: 10/10/2014</div>
                            <div class="pull-right hide">
                                <input type="text" data-date="12-02-2012" data-date-format="dd-mm-yyyy" value="12-02-2012" class="datepicker form-control input-sm">
                            </div>
                            <div class="pull-right" style="margin: 15px 10px 0 0;">
                                <button id="reportrange" class="btn btn-default btn-lg">
                                    <i class="fa fa-calendar"></i> <span>Sept 1, 2014 - Sept 3, 2014</span>
                                    <span class="caret"></span>
                                </button>
                            </div>
                        </div>
                        <div class="row pull">
                            <table class="table table-normal">
                                <thead>
                                    <tr>
                                        <td></td>
                                        <td>Date</td>
                                        <td>Provider</td>
                                        <td>Item</td>
                                        <td>Description</td>
                                        <td>Tooth</td>
                                        <td>Surf</td>
                                        <td>Fees</td>
                                        <td>Qty</td>
                                        <td>Total</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="bs-callout">
                                        <td class="icon"><i class="icon-exchange"></i></td>
                                        <td>25/12/2013</td>
                                        <td>Dr Elizabeth Brown</td>
                                        <td>011</td>
                                        <td>Comprehensive oral exam</td>
                                        <td>01</td>
                                        <td></td>
                                        <td>50.00</td>
                                        <td>1</td>
                                        <td>50.00</td>
                                        <td><span class="label label-primary">Member 1</span></td>
                                        <td>
                                            <button data-toggle="dropdown" class="btn btn-xs btn-default dropdown-toggle" title="add batch"><span class="glyphicons tag color-lgrey"></span></button>
                                            <button data-toggle="dropdown" class="btn btn-xs btn-default dropdown-toggle" title="add comment"><span class="glyphicons comments color-lgrey"></span></button>
                                        </td>
                                    </tr>
                                    <tr class="bs-callout">
                                        <td class="icon"><i class="icon-exchange"></i></td>
                                        <td>25/12/2013</td>
                                        <td>Dr Elizabeth Brown</td>
                                        <td>022</td>
                                        <td>Single X-Ray</td>
                                        <td></td>
                                        <td></td>
                                        <td>33.00</td>
                                        <td>2</td>
                                        <td>66.00</td>
                                        <td><span class="label label-warning">Member 2</span></td>
                                        <td>
                                            <button data-toggle="dropdown" class="btn btn-xs btn-default dropdown-toggle" title="add batch"><span class="glyphicons tag color-lgrey"></span></button>
                                            <button data-toggle="dropdown" class="btn btn-xs btn-default dropdown-toggle" title="view comment"><span class="glyphicons comments color-green"></span></button>
                                        </td>
                                    </tr>
                                    <tr class="bs-callout bs-callout-danger">
                                        <td class="icon"><i class="icon-exchange"></i></td>
                                        <td>25/12/2013</td>
                                        <td>Dr Peter Joe</td>
                                        <td>114</td>
                                        <td>Removal of calculus - 1st visit</td>
                                        <td></td>
                                        <td></td>
                                        <td>96.00</td>
                                        <td>1</td>
                                        <td>96.00</td>
                                        <td><span class="label label-primary">Member 1</span></td>
                                        <td>
                                            <button data-toggle="dropdown" class="btn btn-xs btn-default dropdown-toggle" title="add batch"><span class="glyphicons tag color-green"></span></button>
                                            <button data-toggle="dropdown" class="btn btn-xs btn-default dropdown-toggle" title="add comment"><span class="glyphicons comments color-lgrey"></span></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="full-panel-ft bg-lgrey border-gry-t">
                        <div class="row pull5">
                            <div class="pull-right">
                                <div class="inblock pull push5 gradgry">
                                    <div class="txtC">TOTAL PRICE</div>
                                    <div class="loud more txtC">$290.00</div>
                                </div>
                                <div class="inblock pull push5 gradgry">
                                    <div class="txtC">COLLECTED</div>
                                    <div class="loud more txtC">$190.00</div>
                                </div>
                                <div class="inblock pull push5 gradblue">
                                    <div class="txtC">BALANCE</div>
                                    <div class="loud more txtC">$100.00</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tbl-control bg-lgrey border-gry-l inner">
                <div class="full-panel">
                    <div class="full-panel-bd">
                        <div class="pull">
                            <h4>1. Add Treatments</h4>
                        </div>
                        <div class="row pull ">
                            <div class="row pullB border-gry-b">
                                <div class=" input-group input-group-lg">
                                    <span class="input-group-addon"><span class="glyphicons search"></span></span>
                                    <input type="text" class="form-control auto-treatment" placeholder="Enter item code or name">
                                </div>
                            </div>
                            <div class="row pullT border-wht-t">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="active"><a href="#">Common</a></li>
                                    <li><a href="#">All</a></li>
                                    <li><a href="#">Planned</a></li>
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">More <span class="caret"></span></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">General</a></li>
                                            <li><a href="#">Major</a></li>
                                            <li><a href="#">Surgical</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <div class="block-g pull5 bg-wht">
                                    <div class="gbox pill">
                                        <div class="pill-itm border-gry-r">
                                            <a href="#">(021) Periodic Oral Examination</a>
                                        </div>
                                    </div>
                                    <div class="gbox pill">
                                        <div class="pill-itm border-wht-l border-gry-r">
                                            <a href="#">(114) Removal of calculus</a>
                                        </div>
                                    </div>
                                    <div class="gbox pill">
                                        <div class="pill-itm border-wht-l">
                                            <a href="#">(022) Single X-Ray</a>
                                        </div>
                                    </div>
                                    <div class="gbox pill">
                                        <div class="pill-itm border-gry-r">
                                            <a href="#">(114) Removal of calculus</a>
                                        </div>
                                    </div>
                                    <div class="gbox pill">
                                        <div class="pill-itm border-wht-l border-gry-r">
                                            <a href="#">(022) Single X-Ray</a>
                                        </div>
                                    </div>
                                    <div class="gbox pill">
                                        <div class="pill-itm border-wht-l">
                                            <a href="#">(021) Periodic Oral Examination</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="full-panel-ft bg-lgrey border-gry-t">
                        <div class="pull">
                            <h4>2. Complete Treatments</h4>
                        </div>
                        <div class="row pull">
                            <div class="pull-right">
                                <button class="inblock pull push5 gradred">
                                    <div class="loud more txtC">Create <br /> Invoice</div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
