﻿@Html.Partial("~/Views/Partial/SideNav.cshtml")
<div class="container-fluid">
    <div class="content push-side-nav">
        <div class="header bg-lgrey border-gry-b pull">
            <div class="row">
                <div class="btn-group pushR">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                        Location <span class="caret"></span>
                    </button>
                </div>
                <div class="btn-group pushR">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                        Dentist <span class="caret"></span>
                    </button>
                </div>
                <div class="btn-group pushR">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                        Treatment <span class="caret"></span>
                    </button>
                </div>
                <div class="pull-right pushR">
                    <a href="#" class="muchMore">
                        <span class="glyphicons restart color-brand"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="tbl-grp">
            <div class="tbl-bdy inner">
                <div class="pull" style="">
                    <div class="apptCalMod"></div>
                </div>
            </div>
            <div class="tbl-control bg-offwht border-gry-l inner">
                <div class="full-panel">
                    <div class="full-panel-bd full-panel-bd-lg">
                        <div class="row bg-dgrey2">
                            <div class="pushT5 pull">
                                <h4 class="">
                                    <span class="glyphicons address_book less pushR5 color-brand2"></span>
                                    <span>Select Patient</span>
                                </h4>
                            </div>
                            <div class="row">
                                <ul class="push nav nav-tabs patient-tab" role="tablist">
                                    <li class="active"><a href="#findpatient" role="tab" data-toggle="tab">Find Patient</a></li>
                                    <li><a href="#newpatient" role="tab" data-toggle="tab">New Patient</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane fade in active" id="findpatient">
                                        <div class="row pull5 borderDotB">
                                            <div class="block-g">
                                                <div class="gbox wide50 pull05">
                                                    <input type="text" class="form-control" placeholder="Firstname" title="Firstname">
                                                </div>
                                                <div class="gbox wide50 pull05">
                                                    <input type="text" class="form-control" placeholder="Lastname" title="Lastname">
                                                </div>
                                                <div class="gbox wide50 pull05">
                                                    <input type="text" class="form-control" placeholder="Mobile" title="Mobile">
                                                </div>
                                                <div class="gbox wide50 pull05">
                                                    <input type="text" class="form-control dpicker" placeholder="D.O.B" title="D.O.B">
                                                </div>
                                            </div>
                                            <div class="pull-right pull5">
                                                <button type="submit" class="btn btn-brand">Search</button>
                                            </div>
                                        </div>
                                        <div class="row bg-offwht">
                                            <div class="row pull">
                                                <div class="pullB border-gry-b">
                                                    <h4>Patients Found: <small>Johnathan</small></h4>
                                                </div>
                                                <div class="row border-wht-t">
                                                    <table class="table table-small">
                                                        <thead>
                                                            <tr>
                                                                <td>FIRST</td>
                                                                <td>LAST</td>
                                                                <td>D.O.B</td>
                                                                <td>MOBILE</td>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr class="bs-callout">
                                                                <td>Elizabeth</td>
                                                                <td>Brown</td>
                                                                <td>25/12/2013</td>
                                                                <td>0415000000</td>
                                                            </tr>
                                                            <tr class="bs-callout">
                                                                <td>Elizabeth</td>
                                                                <td>Smith</td>
                                                                <td>25/12/2013</td>
                                                                <td>0415000000</td>
                                                            </tr>
                                                            <tr class="bs-callout">
                                                                <td>John</td>
                                                                <td>Brown</td>
                                                                <td>25/12/2013</td>
                                                                <td>0415009800</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="newpatient">
                                        <div class="row pull5 borderDotB">
                                            <div class="block-g">
                                                <div class="gbox wide50 pull05">
                                                    <input type="text" class="form-control" placeholder="Firstname" title="Firstname">
                                                </div>
                                                <div class="gbox wide50 pull05">
                                                    <input type="text" class="form-control" placeholder="Lastname" title="Lastname">
                                                </div>
                                                <div class="gbox wide50 pull05">
                                                    <input type="text" class="form-control" placeholder="Mobile" title="Mobile">
                                                </div>
                                                <div class="gbox wide50 pull05">
                                                    <input type="text" class="form-control dpicker" placeholder="D.O.B" title="D.O.B">
                                                </div>
                                                <div class="gbox wide50 pull05">
                                                    <input type="text" class="form-control" placeholder="Phone" title="Phone">
                                                </div>
                                                <div class="gbox wide50 pull05">
                                                    <input type="text" class="form-control" placeholder="Email" title="Email">
                                                </div>
                                                <div class="gbox wide50 pull05">
                                                    <input type="text" class="form-control" placeholder="Dentist" title="Dentist">
                                                </div>
                                                <div class="gbox wide50 pull05">
                                                    <input type="text" class="form-control" placeholder="Health Fund" title="Health Fund">
                                                </div>
                                                <div class="gbox wide50 pull05">
                                                    <input type="text" class="form-control" placeholder="Address" title="Address">
                                                </div>
                                                <div class="gbox wide50 pull05">
                                                    <input type="text" class="form-control" placeholder="Suburb" title="Suburb">
                                                </div>
                                                <div class="gbox wide50 pull05">
                                                    <input type="text" class="form-control" placeholder="Postcode" title="Postcode">
                                                </div>
                                                <div class="gbox wide50 pull05">
                                                    <input type="text" class="form-control" placeholder="State" title="State">
                                                </div>
                                            </div>
                                            <div class="pull-right pull5">
                                                <button type="submit" class="btn btn-brand">Create</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="full-panel-ft bg-dgrey3 border-gry-t">
                        <div class="pull5">
                            <div class="pull border-gry-b">
                                <h4>
                                    <span class="glyphicons calendar less pushR5 color-brand2"></span>
                                    <span>Appointment Details</span>
                                </h4>
                            </div>
                            <div class="row border-wht-t">
                                <div class="block-g pushT">
                                    <div class="gbox size1of3 pull05">
                                        <input type="text" class="form-control" placeholder="Start" title="Start Time">
                                    </div>
                                    <div class="gbox size1of3 pull05">
                                        <input type="text" class="form-control" placeholder="End" title="End Time">
                                    </div>
                                    <div class="gbox size1of3 pull05">
                                        <input type="text" class="form-control" placeholder="Recall" title="Recall">
                                    </div>
                                    <div class="gbox size1of3 pull05 txtT">
                                        <select class="form-control multiselect" multiple="multiple" title="Treatment Type">
                                            <option value="cheese">General Checkup</option>
                                            <option value="tomatoes">Crown</option>
                                            <option value="mozarella">Clearning</option>
                                            <option value="mushrooms">Extraction</option>
                                            <option value="pepperoni">Root Canal</option>
                                            <option value="onions">OPG Scan</option>
                                        </select>
                                    </div>
                                    <div class="gbox size1of3 pull05 txtT">
                                        <select class="form-control multiselect" multiple="multiple" title="Event Status">
                                            <option value="CN">Confirmed</option>
                                            <option value="SS">SMS Sent</option>
                                            <option value="NA">No Answer</option>
                                            <option value="NP">New Patient</option>
                                        </select>
                                    </div>
                                    <div class="gbox size1of3 pull05">
                                        <input type="text" class="form-control" placeholder="Dentist" title="Dentist">
                                    </div>
                                    <div class="gbox wide100 pull05">
                                        <textarea class="form-control" rows="2" placeholder="Notes"></textarea>
                                    </div>
                                </div>
                                <div class="pull-right pull5">
                                    <button type="submit" class="btn btn-default pushR">Reset</button>
                                    <button type="submit" class="btn btn-brand2">Create Appointment</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>