﻿<div class="container">
    <div class="page-header">
        <div class="row pullL">
            <h2>Account</h2>
        </div>
        <div class="row bg-lgrey border-gry-b border-gry2-t">
            <h3 class="pullL pullB">Dr Elizabeth John</h3>
        </div>
    </div>
    <div class="content">
        <div class="col-md-3">
            <ul class="nav nav-sidebar bg-lgrey border-gry-b border-gry2-t" role="tablist">
                <li class="border-gry-b active"><a href="#details" role="tab" data-toggle="tab">User Details</a></li>
                <li class="border-wht-t border-gry-b"><a href="#address" role="tab" data-toggle="tab">Address</a></li>
                <li class="border-wht-t"><a href="#preferences" role="tab" data-toggle="tab">Preferences</a></li>
            </ul>
        </div>
        <div class="col-md-9 tab-content">
            <div class="tab-pane fade in active" id="details">
                <div class="pull border-gry-b hide">
                    <h4>User Details</h4>
                </div>
                <div class="col-md-12 pushT">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Username:</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" placeholder="Username" autocomplete="off">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Password:</label>
                            <div class="col-md-7">
                                <input type="password" class="form-control" placeholder="Password" autocomplete="off">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">First name:</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" placeholder="Firstname">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Last name:</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" placeholder="Lastname">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Date of birth:</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control dpicker" placeholder="Date of birth">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Email address:</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" placeholder="Email address">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Phone:</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" placeholder="Phone">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Mobile:</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" placeholder="Mobile">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-7">
                                <button type="button" class="btn btn-primary">Save Changes</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="tab-pane fade" id="address">
                <div class="pull border-gry-b hide">
                    <h4>Address</h4>
                </div>
                <div class="col-md-12 pushT">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Address 1:</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" placeholder="Address line 1">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Address 2:</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" placeholder="Address line 2">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Suburb:</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" placeholder="Suburb">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Postcode:</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" placeholder="Postcode">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">State:</label>
                            <div class="col-md-7">
                                <select class="form-control">
                                    <option>Select State</option>
                                    <option>New South Wales</option>
                                    <option>Victoria</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-7">
                                <button type="button" class="btn btn-primary">Save Changes</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row tab-pane fade" id="preferences">
                <div class="pull border-gry-b hide">
                    <h4>Preferences</h4>
                </div>
                <div class="col-md-12 pushT">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Preferred location:</label>
                            <div class="col-md-7">
                                <select class="form-control">
                                    <option>Select Location</option>
                                    <option>Artamon</option>
                                    <option>Blacktown</option>
                                    <option>Beverly Hills</option>
                                    <option>Blacktown</option>
                                    <option>Bondi Junction</option>
                                    <option>Brookvale</option>
                                    <option>Cabramatta</option>
                                    <option>Chatswood</option>
                                    <option>Epping</option>
                                    <option>Hornsby</option>
                                    <option>Sydney (Haymarket)</option>
                                    <option>Sydney (Wynyard)</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-7">
                                <button type="button" class="btn btn-primary">Save Changes</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
