﻿/* oocss */
/* reset */
/*html{}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{}li{}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}*/
/* fonts */
/*body{*font-size:small;*font:x-small;}select,input,button,textarea{font:99% arial,helvetica,clean,sans-serif;}table{font-size:inherit;font:100%;}pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}*/

.main{display:table-cell;*display:block;width:auto;}
.body,.main{*zoom:1;}
.body:after,.main:after{clear:both;display:block;visibility:hidden;overflow:hidden;height:0 !important;line-height:0;font-size:xx-large;content:" x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x ";}

/* oocss */
/* grids */
/*.row,.lastCol{overflow:hidden; *overflow:visible;*zoom:1;}*/
.col{float:left;}
.colRight{float:right;}
.clr { clear: both;}
.size1of1{float:none;}
.size1of2{width:50%;}
.size1of3{width:33.33333%;}
.size2of3{width:66.66666%;}
.size1of4{width:25%;}
.size3of4{width:75%;}
.size1of5{width:20%;}
.size2of5{width:40%;}
.size3of5{width:60%;}
.size4of5{width:80%;}
.lastCol{float:none;width:auto;_position:relative;_left:-3px;_margin-right:-3px;}
.pop{overflow:visible}

/*responsive block grid*/
.block-g {letter-spacing:-0.34em;}
.block-g .gbox {letter-spacing: normal !important;display: inline-block !important;}

/* mod */
/*.mod{margin:10px}*/
/*.modLeft{margin:10px 0 10px 10px}*/
.inner{position:relative}
.bd,.ft, .hd{overflow: hidden;width: 100%; *overflow:visible; zoom:1;}
b.top, b.top b, b.bottom, b.bottom b{display:block;background-repeat:no-repeat;font-size:1%;position:relative;z-index:10;}
.tl, .tr, .bl, .br{height:10px; width:10px;float:left;}
.tl{background-position: left top;}
.tr{background-position: right top;}
.bl{background-position: left bottom;}
.br{background-position: right bottom;}
.br,.tr{float:right;}
.tr, .tl{margin-bottom:-32000px;}/* margin bottom needs to be < -9px */
.hidflo {overflow:hidden;}
.bl,.br{margin-top:-10px;}
.top{background-position:center top;}
.bottom{background-position:center bottom;_zoom:1;}/* this zoom required for IE5.5 only*/

/* heading */
/*h1, .h1{font-size:196%; font-weight:bold; font-style: normal;}
h2, .h2{font-size:167%; font-weight:bold; font-style: normal;}
h3, .h3{font-size:146.5%; font-weight:bold; font-style: normal;}
h4, .h4{font-size:123.1%; font-weight:bold; font-style: normal;}
h5, .h5{font-size:108%; font-weight:bold; font-style: normal;}
h6, .h6{font-size:108%; font-weight:bold; font-style: italic;}*/

/* utilities */
.block{display:block}
.inblock{display:inline-block}
.border{border:1px solid #ddd}
.border2{border: 1px #d7d7d7 solid;}
.borderB{border-bottom:1px solid #ddd;padding-bottom:0.5em}
.borderL{border-left:1px solid #ddd;padding-left:0.5em}
.borderR{border-right:1px solid #ddd;padding-right:0.5em}
.border2R{border-right: 1px #d7d7d7 solid;}
.border2T{border-top: 1px #d7d7d7 solid;}
.border2L{border-left: 1px #d7d7d7 solid;}
.border2B{border-bottom: 1px #d7d7d7 solid;}
.borderT{border-top:1px solid #ddd;padding-top:0.5em}
.borderDash{border:1px dashed #ddd}
.borderDashB{border-bottom:1px dashed #ddd;padding-bottom:0.5em}
.borderDashL{border-left:1px dashed #ddd;padding-left:0.5em}
.borderDashR{border-right:1px dashed #ddd;padding-right:0.5em}
.borderDashT{border-top:1px dashed #ddd;padding-top:0.5em}
.borderDot{border:1px dotted #ccc}
.borderDotB{border-bottom:1px dotted #ccc;padding-bottom:0.5em}
.borderDotL{border-left:1px dotted #ccc;padding-left:0.5em}
.borderDotR{border-right:1px dotted #ccc;padding-right:0.5em}
.borderDotT{border-top:1px dotted #ccc;padding-top:0.5em}
.borderNone{border:none !important}
.clear:after{clear:both;display:block;visibility:hidden;overflow:hidden;height:0 !important;line-height:0;font-size:xx-large;content:" x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x "}
.clear{*zoom:1}
/*.hide{display:none !important}*/
.high{min-height:100%}* html .high{height:100%}
.inline{display:inline !important}
.inlineB { display: inline-block !important;}
.less{font-size:95%}
.loose{line-height:1.8em}
.loud{font-weight:bold}
.normal{font-weight: normal}
.more{font-size:16px}
.font140{font-size:140% !important}
.muchLess{font-size:80% !important}
.muchMore{font-size:175% !important}
.pullSml{padding:2.5px !important}
.pullMore{padding:20px !important}
.pullSide{padding:5px 10px !important}
.pullNoneSide{padding:0 10px !important}
.pull{padding:10px !important}
.pullB{padding-bottom:10px !important}
.pullB5{padding-bottom:5px !important}
.pullB30{padding-bottom:30px !important}
.pullL{padding-left:10px !important}
.pullL5{padding-left:5px !important}
.pullL25{padding-left:25px !important}
.pull0{padding:0 !important}
.pullT0{padding-top:0 !important}
.pullB0{padding-bottom:0 !important}
.pullR{padding-right:10px !important}
.pullR5{padding-right:5px !important}
.pullT{padding-top:10px !important}
.pullT5{padding-top:5px !important}
.pull5{padding:5px !important}
.pull05{padding:0 5px !important}
.pull15 { padding: 15px;}
.push0{margin-top: 0px !important}
.push510{margin:5px 10px !important}
.push010{margin:0 10px !important}
.push05{margin:0 5px !important}
.push{margin:10px !important}
.push5{margin:5px !important}
.pushB{margin-bottom:10px !important}
.pushB5{margin-bottom:5px !important}
.pushL{margin-left:10px !important}
.pushL5{margin-left:5px !important}
.pushL15{margin-left:15px !important}
.push0{margin:0 !important}
.pushT0{margin-top:0 !important}
.pushB0{margin-bottom:0 !important}
.pushR{margin-right:10px !important}
.pushR5{margin-right:5px !important}
.pushT15{margin-top:15px !important}
.pushT{margin-top:10px !important}
.pushT5{margin-top:5px !important}
.lessTop { margin-top: -5px;}
.lessBot { margin-bottom: -5px;}

.txtB{vertical-align:bottom !important}
.txtC{text-align:center !important}
.txtJ{text-align:justify !important}
.txtL{text-align:left !important}
.txtLC{text-transform:lowercase !important}
.txtM{vertical-align:middle !important}
.txtR{text-align:right !important}
.txtT{vertical-align:top !important}
.txtUC{text-transform:uppercase !important}
.txtI{font-style:italic !important}
.txtN{font-style:normal !important}
.txtO{font-style:oblique !important}
.txt11 { font-size: 11px !important; }
.txt12 { font-size: 12px !important; }
.txt14 { font-size: 14px !important; }
.txt16 { font-size: 16px !important; }
.txt18 { font-size: 18px !important; }
.txt20 { font-size: 20px !important; }
.txt22 { font-size: 22px !important; }
.txt24 { font-size: 24px !important; }
.txt26 { font-size: 26px !important; }
.txt28 { font-size: 28px !important; }
.txt30 { font-size: 30px !important; }
.txt32 { font-size: 32px !important; }
.txt34 { font-size: 34px !important; }
.txt36 { font-size: 36px !important; }
.wrap{word-wrap:break-word;white-space:pre-wrap}
.noList { list-style: none outside none; }
.ptr { cursor: pointer;}

.wide1{width:1% !important}
.wide2{width:2% !important}
.wide3{width:3% !important}
.wide4{width:4% !important}
.wide5{width:5% !important}
.wide6{width:6% !important}
.wide7{width:7% !important}
.wide8{width:8% !important}
.wide9{width:9% !important}
.wide10{width:10% !important}
.wide11{width:11% !important}
.wide12{width:12% !important}
.wide13{width:13% !important}
.wide14{width:14% !important}
.wide15{width:15% !important}
.wide16{width:16% !important}
.wide17{width:17% !important}
.wide18{width:18% !important}
.wide19{width:19% !important}
.wide20{width:20% !important}
.wide21{width:21% !important}
.wide22{width:22% !important}
.wide23{width:23% !important}
.wide24{width:24% !important}
.wide25{width:25% !important}
.wide26{width:26% !important}
.wide27{width:27% !important}
.wide28{width:28% !important}
.wide29{width:29% !important}
.wide30{width:30% !important}
.wide31{width:31% !important}
.wide32{width:32% !important}
.wide33{width:33% !important}
.wide34{width:34% !important}
.wide35{width:35% !important}
.wide36{width:36% !important}
.wide37{width:37% !important}
.wide38{width:38% !important}
.wide39{width:39% !important}
.wide40{width:40% !important}
.wide41{width:41% !important}
.wide42{width:42% !important}
.wide43{width:43% !important}
.wide44{width:44% !important}
.wide45{width:45% !important}
.wide46{width:46% !important}
.wide47{width:47% !important}
.wide48{width:48% !important}
.wide49{width:49% !important}
.wide50{width:50% !important}
.wide51{width:51% !important}
.wide52{width:52% !important}
.wide53{width:53% !important}
.wide54{width:54% !important}
.wide55{width:55% !important}
.wide56{width:56% !important}
.wide57{width:57% !important}
.wide58{width:58% !important}
.wide59{width:59% !important}
.wide60{width:60% !important}
.wide61{width:61% !important}
.wide62{width:62% !important}
.wide63{width:63% !important}
.wide64{width:64% !important}
.wide65{width:65% !important}
.wide66{width:66% !important}
.wide67{width:67% !important}
.wide68{width:68% !important}
.wide69{width:69% !important}
.wide70{width:70% !important}
.wide71{width:71% !important}
.wide72{width:72% !important}
.wide73{width:73% !important}
.wide74{width:74% !important}
.wide75{width:75% !important}
.wide76{width:76% !important}
.wide77{width:77% !important}
.wide78{width:78% !important}
.wide79{width:79% !important}
.wide80{width:80% !important}
.wide81{width:81% !important}
.wide82{width:82% !important}
.wide83{width:83% !important}
.wide84{width:84% !important}
.wide85{width:85% !important}
.wide86{width:86% !important}
.wide87{width:87% !important}
.wide88{width:88% !important}
.wide89{width:89% !important}
.wide90{width:90% !important}
.wide91{width:91% !important}
.wide92{width:92% !important}
.wide93{width:93% !important}
.wide94{width:94% !important}
.wide95{width:95% !important}
.wide96{width:96% !important}
.wide97{width:97% !important}
.wide98{width:98% !important}
.wide99{width:99% !important}
.wide100{width:100% !important}
/* @end */