﻿@font-face {
  font-family: 'Glyphicons Regular';
  src: url('../fonts/glyphicons-regular.eot');
  src: url('../fonts/glyphicons-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-regular.woff') format('woff'), url('../fonts/glyphicons-regular.ttf') format('truetype'), url('../fonts/glyphicons-regular.svg#glyphicons-halflingsregular') format('svg');
}
body {
    color: #282623 !important;
}
.navbar{
    background: linear-gradient(#1A2228, #12171B) repeat scroll 0 0 #12171B;
    border-bottom: solid 1px #1A2228;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.52);
}
.navbar-brand{
    font-size:28px;
    color: #55acee !important;
}
.navbar-brand:hover{
    color: #fff !important;
}
.navbar .navbar-right > li > a{
    padding-bottom: 10px;
    padding-top: 10px;
}
.navbar .glyphicon-class{
    font-size:18px;
}
.navbar .glyphicon {
    font-size: 22px;
}
.navbar .caret {
    border-bottom-color: #999999 !important;
    border-top-color: #999999 !important;
}
.navbar .nav .open > a, .navbar .nav .open > a:hover, .navbar .nav .open > a:focus { 
    background-color: #323a40;
    color: #fff;
}
.push-side-nav {
    position:absolute;
    left:95px;
}
.sidebar {
    background-color: #11161A;
    border-right: 1px solid #eee;
    bottom: 0;
    display: block;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 15px;
    position: fixed;
    top: 51px;
    z-index: 1000;
    width:95px;
    border-right: solid 1px #1A2228;
}
.sidebar .nav-sidebar{
    margin-top:-15px;
    border-bottom:1px solid #20292f;
}
.sidebar li{
    border-top:1px solid #20292f;
    border-bottom:1px solid #0a0d0e;
}
.sidebar a, .navbar a {
    color: #999999;
}
.sidebar a {
    margin-left: 5px !important;
    padding-left: 5px !important;
    color: #999999;
    border-left:5px solid #11161a;
}
.sidebar .active a, .sidebar a:hover {
    border-left:5px solid #55acee;
}
.sidebar a:hover, .navbar a:hover {
    color: #fff;
}
.sidebar .nav-sidebar {
    margin-left: -20px;
    margin-bottom: 20px;
    margin-right: -21px;
}
.content .nav-sidebar {
    margin-left: -14px;
}
.nav-sidebar .glyphicons{
    font-size:26px;
    display: block;
    text-align: center;
    word-wrap: break-word;
    margin-bottom: 5px;
    top:10px !important;
}
.nav-sidebar .glyphicon-class {
    display: block;
    /*visibility: hidden;*/
    text-align: center;
    word-wrap: break-word;    
    opacity:0;
    position: relative;
    top: 10px;
    /* Firefox */
    -moz-transition-property: opacity;
    -moz-transition-duration: 1s;
    -moz-transition-delay: 0s;
    /* WebKit */
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 1s;
    -webkit-transition-delay: 0s;
    /* Opera */
    -o-transition-property: opacity;
    -o-transition-duration: 1s;
    -o-transition-delay: 0s;
    /* Standard */
    transition-property: opacity;
    transition-duration: 1s;
    transition-delay: 0s;
}
.nav-sidebar:hover a{
    /*color: #d9d9d9;*/
}
.nav-sidebar:hover .glyphicon-class {
    opacity:1;
}
.header h3 {
    padding: 0;
    margin: 9px 0;
}
/*Body Table*/
.tbl-grp{
    display:table;
    table-layout: fixed;
    width: 100%;
}
.tbl-bdy{
    display: table-cell;
    vertical-align:top !important;
}
.tbl-control{
    display: table-cell;
    width:400px;
    vertical-align:top !important;
    /*position:absolute;
    right:0;
    bottom:0;
    top:0;*/
}
.tbl-bdy .table {
  border-radius: 3px;
  margin-bottom: 20px;
}
.table-normal {
  background: none repeat scroll 0 0 #fbfbfb;
  border: 1px solid #cdcdcd;
}
.table-normal tbody tr:nth-child(2n) {
    background: none repeat scroll 0 0 #f3f4f8;
}
.table-normal tbody tr {
}
.table-normal tbody tr:hover {
    background: none repeat scroll 0 0 #ebebeb;
}
.table-normal .glyphicons {
    font-size: 16px;
}
.table-normal thead td {
  background: -moz-linear-gradient(center top , #fdfdfd, #e3e3e3) repeat scroll 0 0 / 100% auto #e3e3e3;
  color: #666;
  font-weight: 600;
  height: 25px;
  line-height: 25px;
  padding: 3px 5px 2px;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid #cdcdcd;
}
.table-normal td {
  color: #78808a;
}
.table-small {
  color: #373432;
  background: none repeat scroll 0 0 #efeff0;
}
.table-small tbody tr:nth-child(2n) {
    background: none repeat scroll 0 0 #f7f7f8;
}
.table-small tbody tr {
}
.table-small tbody tr:hover {
    color: #55acee !important;
    border-left-color: #55acee;
}
.table-small .glyphicons {
    font-size: 16px;
}
.table-small thead td {
    background: none repeat scroll 0 0 #f7f7f8;
    color: #9c9c9a;
    font-weight: 600;
    height: 25px;
    line-height: 25px;
    padding: 3px 5px 2px;
}
.table-small.bg-wht  thead td {
  background: none repeat scroll 0 0 #ffffff !important;
}
.table-small tbody td {
    cursor: pointer;
}

.modbutgrp{

}
.modbutgrp .but{
    background-color: #ffffff;
    border-color: #cccccc;
    color: #333333;
    cursor:pointer;
    border:1px solid #cccccc;
    border-collapse: collapse;
}

/*Pills*/
.pill{
    width: 33.33333%
}
.pill .pill-itm{
    padding: 5px;
    margin: 5px 0;
    text-align: center;
}
.pill .pill-itm a{
    color: #555555 !important;
    text-decoration: none;
}
.pill .pill-itm:hover{
    background-color: #ebebeb !important;
}

/*full absolute panel*/
.full-panel {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.full-panel-bd {
    bottom: 135px;  /*TODO: TEMP ONLY, NEED TO CALCULATE DYNAMICALLY*/
    clear: both;
    left: 0;
    overflow: auto;
    position: absolute;
    right: 0;
    top: 0;
}
.full-panel-bd-lg {
    bottom: 260px !important;  /*TODO: TEMP ONLY, NEED TO CALCULATE DYNAMICALLY*/
}
.full-panel-ft {
    bottom: 0;
    left: 0;
    margin: 0;
    position: absolute;
    right: 0;
    z-index: 999;
}

/*color*/
.color-lgrey{
    color: #89898B;
}
.color-lred{
    color: #ac2925;
}
.color-green{
    color: #5cb85c;
}
.color-wht{
    color: #fff;
}
.color-brand{
    color: #55acee;
}
.color-brand2{
    color: #ff8280;
}
/*bg color*/
.bg-dgrey{
    background-color: #11161A;
}
.bg-dgrey2{
    background-color: #f2f1f1;
}
.bg-dgrey3{
    background-color: #e4e6e7;
}
.bg-lgrey{
    background-color: #F5F5F5;
}
.bg-wht{
    background-color: #fff;
}
.bg-offwht{
    background-color: #f7f7f8;
}
.bg-brand{
    background-color: #55acee;
}
.bg-brand2{
    background-color: #ff8280;
}

/*border*/
.border-wht-t {
    border-top:1px solid #fff
}
.border-wht-b {
    border-bottom:1px solid #fff
}
.border-wht-l {
    border-left:1px solid #fff
}
.border-wht-r {
    border-right:1px solid #fff
}
.border-gry-t {
    border-top:1px solid #ccc
}
.border-gry-b {
    border-bottom:1px solid #ccc
}
.border-gry-l {
    border-left:1px solid #ccc
}
.border-gry-r {
    border-right:1px solid #ccc
}
.border-gry2-t {
    border-top:1px solid #e1e1e1
}

/*buttons*/
.btn-brand{
    background-color: #53a4d6;
    border-color: #388fd1;
    color: #fff;
    font-weight: bold;
}
.btn-brand:hover, .btn-brand:focus, .btn-brand:active{
    background-color: #2b82c4;    
    box-shadow: 0 0 4px #146bad inset;
    border-color: #53a4d6;
    color: #fff;
}
.btn-brand2{
    background-color: #ff8280;
    border-color: #e76a68;
    color: #fff;
    font-weight: bold;
}
.btn-brand2:hover, .btn-brand2:focus, .btn-brand2:active{
    background-color: #e36664;    
    box-shadow: 0 0 4px #d65957 inset;
    border-color: #cd504e;
    color: #fff;
}

/*gradient*/
.cssgradients .gradblk {
    background: linear-gradient(180deg, #1A2228, #12171B) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.cssgradients .gradgry{
    background: linear-gradient(180deg, #fdfdfd, #e3e3e3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #666;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
    border: 1px solid #cdcdcd;
    width:150px;
}
.cssgradients .gradblue{
    background: linear-gradient(180deg, #55acee, #2c83c5) repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #fff;
    text-shadow: 0 1px rgba(0, 0, 0, 0.5);
    border: 1px solid #2c83c5;
    width:150px;
}
.cssgradients .gradred{
    background: linear-gradient(180deg, #c70208, #a10000) repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #fff;
    text-shadow: 0 1px rgba(0, 0, 0, 0.5);
    border: 1px solid #000;
    width:150px;
}
.cssgradients .gradred:hover {
    background: linear-gradient(180deg, #8a0003, #710001) repeat scroll 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 4px #b10102 inset;
}
/*Fix*/
.row
{
    margin-left:0 !important;
    margin-right:0 !important;
}
.content .nav > li > a:hover,
.content .nav > li > a:focus {
    background-color: #ebebeb;
    /*border: 1px solid #dddddd;*/
}
.tbl-control h4 {
    margin: 0;
}
.fc-header-title h2 {
    font-size: 26px;
}
.apptCalMod .qtip {
    min-width: 250px;
    max-width: 400px;
}
.apptCalMod .qtip .qtip-content ul {
    padding-left: 0;
    list-style: none;
}
.dropdown .btn.btn-default {
    text-align: left;
    color: #999999;
}
.content .nav-sidebar > li.active > a {
    color: #2a6496;
    background-color: #ebebeb;
}
.page-header {
    border-bottom: none;
}
/*Callout*/
.bs-callout {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #eee;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px 1px 1px 5px;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.ui-autocomplete-category {
    font-weight: bold;
    padding: 0.1em 0.4em;
    margin: 0.2em 0 0.1em;
  }
.ui-autocomplete {
    padding-top: 5px !important;
    background-clip: padding-box;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    font-size: 14px;
    list-style: none outside none;
    min-width: 160px;
    z-index: 1000;
}
/*FullCalendar*/
.fc-past {
    background-color: #F1F1F1 !important;
    border-color: #ddd !important;
    color: #C9C9C9 !important;
}
.fc-sun {
    background-color: #F1F1F1 !important;
    border-color: #ddd !important;
    color: #C9C9C9 !important;
}
.fc-header-title {
    cursor: pointer;
}
.fc-event-title .statlabel {
    background-color: rgb(37, 60, 35);
    background-color: rgba(0, 0, 0, 0.7);
    border-bottom-left-radius: 3px;
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    padding: 0;
    width: 25%;
    min-width: 20px;
    max-width: 100px;
}
.fc-event-title .statlabel li {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 0 2px;
    float: left;
    list-style: none;
}