﻿@{
    Layout = null;
}
<!-- Modal -->
<div class="modal fade" id="patientAdvSearch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Find a patient</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="block-g">
                        <div class="gbox wide50 pullR5">
                            <input type="text" class="form-control" placeholder="Firstname" title="Firstname">
                        </div>
                        <div class="gbox wide50 pullL5">
                            <input type="text" class="form-control" placeholder="Lastname" title="Lastname">
                        </div>
                        <div class="gbox wide50 pullR5">
                            <input type="text" class="form-control" placeholder="Mobile" title="Mobile">
                        </div>
                        <div class="gbox wide50 pullL5">
                            <input type="text" class="form-control dpicker" placeholder="D.O.B" title="D.O.B">
                        </div>
                        <div class="gbox wide50 pullR5">
                            <input type="text" class="form-control" placeholder="Email" title="Email">
                        </div>
                        <div class="gbox wide50 pullL5">
                            <input type="text" class="form-control" placeholder="Card No" title="Card No">
                        </div>
                    </div>
                    <div class="pull-right pull5 pushB5">
                        <button type="reset" class="btn btn-default">Clear</button>
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </div>
                <div class="row borderDotT">
                    <div class="pullB5 border-gry-b">
                        <h4>Patients Found: <small>Johnathan</small></h4>
                    </div>
                    <div class="row border-wht-t">
                        <table class="table table-small bg-wht">
                            <thead>
                                <tr>
                                    <td>FIRST</td>
                                    <td>LAST</td>
                                    <td>D.O.B</td>
                                    <td>MOBILE</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="bs-callout">
                                    <td>Elizabeth</td>
                                    <td>Brown</td>
                                    <td>25/12/2013</td>
                                    <td>0415000000</td>
                                </tr>
                                <tr class="bs-callout">
                                    <td>Elizabeth</td>
                                    <td>Smith</td>
                                    <td>25/12/2013</td>
                                    <td>0415000000</td>
                                </tr>
                                <tr class="bs-callout">
                                    <td>John</td>
                                    <td>Brown</td>
                                    <td>25/12/2013</td>
                                    <td>0415009800</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer hide">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>