﻿@{
    Layout = null;
}

<div class="sidebar">
    <ul class="nav nav-sidebar">
        <li class="active">
            <a href="#">
                <span class="glyphicons nameplate"></span>
                <span class="glyphicon-class">Profile</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="glyphicons stats"></span>
                <span class="glyphicon-class">Charting</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="glyphicons notes_2"></span>
                <span class="glyphicon-class">Plan</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="glyphicons circle_plus"></span>
                <span class="glyphicon-class">Treatment</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="glyphicons usd"></span>
                <span class="glyphicon-class">Invoice</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="glyphicons money"></span>
                <span class="glyphicon-class">Payment</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="glyphicons envelope"></span>
                <span class="glyphicon-class">Letter</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="glyphicons picture"></span>
                <span class="glyphicon-class">Attachment</span>
            </a>
        </li>
    </ul>
</div>