﻿@{
    Layout = null;
}

<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="/appointment/">
                <span>Appointment</span>
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="/appointment/">Appointment Book</a></li>
                <li><a href="#">Standby List</a></li>
                <li><a href="#">Cancellation List</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="/">
                <span>Patient</span>
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li class="dropdown-header"><span class="loud">Recent Patient</span></li>
                <li><a href="/">Mr Smith Black</a></li>
                <li><a href="/">Mrs Mary Black</a></li>
                <li class="dropdown-header"><span class="loud">Next Patient</span></li>
                <li><a href="/">Mr Smith Black Junior</a></li>
                <li class="divider"></li>
                <li><a href="#">Create Patient</a></li>
                <li><a href="#" data-toggle="modal" data-target="#patientAdvSearch">Advance Search</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <span>Location</span>
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Staff</a></li>
                <li><a href="#">Provider</a></li>
                <li><a href="#">Fees Management</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <span>Marketing</span>
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">Campaign</a></li>
                <li><a href="#">Recall</a></li>
                <li><a href="#">Debtors</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <span>Report</span>
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Locations</a></li>
                <li><a href="#">Dentists</a></li>
                <li><a href="#">Patients</a></li>
                <li><a href="#">Items</a></li>
                <li><a href="#">Performance</a></li>
            </ul>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <span class="glyphicon glyphicon-cog"></span>
                <span class="caret pushB"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li class="dropdown-header"><span class="loud">SYSTEM SETTING</span></li>
                <li><a href="/">Locations</a></li>
                <li><a href="/">Items</a></li>
                <li><a href="/">Banks</a></li>
                <li><a href="/">Terminals</a></li>
                <li><a href="/">Scanners</a></li>
                <li class="divider"></li>
                <li class="dropdown-header"><span class="loud">PERMISSION</span></li>
                <li><a href="/">Users</a></li>
                <li><a href="/">Groups</a></li>
                <li class="divider"></li>
                <li><a href="#">Billing</a></li>
                <li><a href="#">General</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <span class="glyphicon glyphicon-user"></span>
                <span class="glyphicon-class">Elizabeth</span>
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="/user/">Edit Account</a></li>
                <li><a href="#">Log Out</a></li>
            </ul>
        </li>
    </ul>
    <form class="navbar-form navbar-right">
        <input type="text" placeholder="Search patient, dentist" class="form-control auto-quicksearch" data-toggle="tooltip" data-placement="left" title="Tooltip on left">
    </form>
</div>